<style>
  body {
    background-color: black;
  }
</style>

<!-- NAVBAR -->
<div class="nav-wrapper">
  <div class="nav navbar navbar-inverse affix">
  	<%= render 'layouts/header' %>
	</div>
</div>

<div class="container" style="color: white;">
	<h1>Downstairs</h1>
	<div class="span3">
    <b><u>Hours</u></b>
    <br/>
    Mon-Fri 9:00AM - 5:00PM
  </div>
  <div class="center">
    <img src="http://media.giphy.com/media/Z3rjIBeDHbzB6/giphy.gif"></img>
  </div>
</div> <!-- /. container -->