<!-- CAROUSEL -->
<div class="carousel slide">
  <div class="carousel-inner">
    <div class="item bg bg1 active">
      <div class="container">
        <div class="carousel-caption">
          <h1><b>THIS IS NOT A RESTAURANT.</b></h1>
          <p>You're probably in the wrong place.</p>
          <span class="glyphicon glyphicon-hand-down" style="font-size: 2em;"></span>
      </div>
    </div>
  </div>
</div>

<!-- NAVBAR -->
<div class="nav-wrapper">
  <div class="nav navbar navbar-default affix" data-spy="affix" data-offset-top="50">
    <%= render 'layouts/header' %>
	</div>
</div>

<!-- CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-3" style="z-index: -1;">
      <small>
        <b><u>Location</u></b>
        <br />
        925 W. 21st St.
        <br />
        New York City 10011
        <br /><br />
        <b><u>Contact</u></b>
        <br />
        212-555-1212
        <br /><br />
        <b><u>Hours</u></b>
        <br />
        Wed-Sun 5:30PM - 11:30PM
        <br /><br />
        <b><u>Reservations</u></b>
        <br />
        We do not take reservations
      </small>
    </div>
    <div class="col-md-9" style="z-index: -1;">
      <div class="row">
        <div class="col-md-7">
          <h2> 
            <span>Welcome to The Staple</span>
          </h2>
          Begun decades ago in New York's Chelsea neighborhood as a means for the best chefs in the world to explore creative and delicious endeavors at the forefront of cooking, The Staple continues to delight guests today.
        </div>
        <div class="col-md-5 center">
          <img src="http://lorempixel.com/g/250/250"></img>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2> 
            <span>The Food</span>
          </h2>
          We aim to serve only the best food to our guests. Our food focuses on taste by disregarding conventional standards of presentation, nutrition, and source of ingredients.
        </div>
        <div class="col-md-5 col-md-pull-7 center">
          <img src="http://lorempixel.com/g/250/250"></img>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <h2> 
            <span>World-Class Chefs</span>
          </h2>
          Our chefs have trained around the world at both prestigious schools and local favorite hole-in-the-wall restaurants. They may not have their own television shows or a best-selling cookbook, but they sure can make some delicious food.
        </div>
        <div class="col-md-5 center">
          <img src="http://lorempixel.com/g/250/250"></img>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2> 
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </h2>
          The Staple has consistently been ranked as one of the best restaurants in New York since first opening its doors.
        </div>
        <div class="col-md-5 col-md-pull-7 center">
          <img src="http://lorempixel.com/g/250/250"></img>
        </div>
      </div>
    </div>
  </div>
</div>