<div id="wrap">
  <!-- NAVBAR -->
  <div class="nav-wrapper">
    <div class="nav navbar navbar-default affix">
    	<%= render 'layouts/header' %>
  	</div>
  </div>

  <div class="container">
  	<h1 class="center">Our Story</h1>
  	<p class="center"><i>The term "staple" is derived from a medieval trade system used centuries ago in Europe in which specific towns were referred to as the "staple town". These special towns were the only locations allowed to export certain goods and merchandise so that proper export taxes could be collected.</i></p>
    <hr>
  	<div class="span3">
      For over 50 years, The Staple has been a New York institution, delighting locals and pilgrims alike. We take intense pride in our menu, which is guided by one - and only one - factor: taste.
      <br /><br />
      We aim to cook the best food, regardless of convention, source, price, ease, or healthiness. That means our food could have gluten. It might not necessarily be farm-raised or non-genetically modified. If we need to scale the Himalayan Mountains to acquire grapes from a remote monk monastery, we will do it. The Staple is about taste, not trends. 
    </div>
  </div> <!-- /. container -->
</div>