<div id="footer">
	<div class="container center" style="margin-top: 25px;">
		<%= image_tag("thestaple-footer-staple.png") %>
		<p style="margin-top: 10px;" class="text-muted">
			<small>
				925 W. 21st St.
				<br />
				New York City 10011
				<br />
				T: 212-555-1212
			</small>
		</p>
	</div>
</div>